absl-py==2.1.0
accelerate==1.8.1
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
albucore==0.0.24
albumentations==2.0.8
alembic==1.16.5
annotated-types==0.7.0
anyio==4.9.0
art==6.4
attrs==25.1.0
av==16.0.1
backoff==2.2.1
bcrypt==4.3.0
bitsandbytes==0.41.1
build==1.2.2.post1
cachetools==5.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
chromadb==1.0.15
click==8.2.1
cmake==4.0.3
colorama @ file:///data2/hmy/RET_exp/RETFound_MAE-main-new-good-multi-0713/offline_pkgs/colorama-0.4.6-py2.py3-none-any.whl#sha256=4f1d9991f5acc0ca119f9d443620b77f9d6b33703e51011c16baf57afb285fc6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.1
cpm-kernels @ file:///data2/hmy/RET_exp/RETFound_MAE-main-new-good-multi-0713/offline_pkgs/cpm_kernels-1.0.11-py3-none-any.whl#sha256=eab7f211f3b3f6a0686ded4c15cd7d9158393cdf69a931fa5b96a5fbcd366822
cycler==0.12.1
dataclasses-json==0.6.7
dill==0.3.8
distro==1.9.0
durationpy==0.10
et_xmlfile==2.0.0
faiss-cpu==1.11.0
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.70.0
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.4
imbalanced-learn==0.14.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kubernetes==33.1.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-text-splitters==0.3.8
langsmith==0.4.4
lightgbm==4.6.0
lightning-utilities==0.14.0
lit==18.1.8
llvmlite==0.46.0
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.8.4
mdurl==0.1.2
mmh3==5.1.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.4.0
networkx==3.3
numba==0.63.1
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.6.77
oauthlib==3.3.1
onnxruntime==1.22.0
opencv-python==4.9.0.80
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
optuna==4.5.0
orjson==3.10.18
overrides==7.7.0
packaging @ file:///data2/hmy/RET_exp/RETFound_MAE-main-new-good-multi-0713/offline_pkgs/packaging-25.0-py3-none-any.whl#sha256=29572ef2b1f17581046b3a2227d5c611fb25ec70ca1ba8554b24b0e69331a484
pandas==2.2.3
pillow==11.0.0
platformdirs==4.4.0
plotly==6.3.0
posthog==5.4.0
propcache==0.3.0
protobuf @ file:///data2/hmy/RET_exp/RETFound_MAE-main-new-good-multi-0713/offline_pkgs/protobuf-6.31.1-py3-none-any.whl#sha256=720a6c7e6b77288b85063569baae8536671b39f15cc22037ec7045658d80489e
psutil==7.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.1
pycm==4.2
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.2.1
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.1
PyYAML==6.0.2
qwen-vl-utils==0.0.14
referencing==0.36.2
regex==2024.11.6
requests==2.28.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
sacremoses==0.1.1
safetensors==0.5.3
scikit-learn==1.8.0
scikit-multilearn==0.2.0
scipy==1.15.2
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.37.1
shellingham==1.5.4
simsimd==6.5.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.41
stringzilla==3.12.6
sympy==1.13.3
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.17.1
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
timm==0.9.16
tokenizers==0.22.1
torch==2.2.0+cu118
torch-geometric==2.6.1
torchaudio==2.3.1+cu121
torchmetrics==1.7.3
torchvision==0.17.0+cu118
tqdm==4.67.1
transformers==4.57.3
triton==2.2.0
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.9.post2
urllib3==1.26.13
uvicorn==0.35.0
uvloop==0.21.0
wandb==0.21.3
watchfiles==1.1.0
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wordcloud==1.9.4
xformers==0.0.31.post1
xgboost==3.0.2
xxhash==3.5.0
yarl==1.18.3
zipp==3.23.0
zstandard==0.23.0
